services:
  db:
    image: mysql:8.0
    container_name: bsu_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bsu_db
      MYSQL_USER: bsu_user
      MYSQL_PASSWORD: bsu_password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: bsu_backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always
    environment:
      - DATABASE_URL=mysql://bsu_user:bsu_password@db:3306/bsu_db

  frontend:
    build: ./frontend
    container_name: bsu_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always 

volumes:
  db_data:
